@import "https://fonts.google.com/specimen/Outfit";
@import "https://fonts.googleapis.com/css?family=Outfit:400,700";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 9px;
  padding-bottom: 2.5px;
  max-width: 310px;
  background-color: whitesmoke;
  position: relative;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 10px;
}

.img-container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  height: 290px;
  /* background-color: black; */
}

/* #img {
  width: auto;
  position: relative;
} */

.info-container {
  /* position: inherit; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  /* background-color: aquamarine; */
}

body {
  display: flex;
  flex-direction: column;
  height: 98vh;
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  /* Font size (paragraph): 15px */
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
  color: hsl(212, 23%, 58%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
